<h1><%=t("home.title")%></h1>
<% provide :title_base, t("title") %>
<p><%= t("mails.hi", name: @user.name)%></p>
<p>
  <%= t("mails.desc") %>
</p>
<%= link_to t("mails.activate"), edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
