<h1><%= t("mails.reset_pass_subject") %></h1>
<p><%= t("mails.reset_text1") %></p>
<%= link_to t("mails.reset_pass"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t("mails.reset_text2") %></p>
