<h1><%= t("account.reset_pass_subject") %></h1>
<p><%= t("account.reset_text1") %></p>
<p><%= link_to t("account.reset_pass"), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t("account.reset_text2") %></p>